/ckpt/
/ckpt2/
/BF/
/ckpt_cutmix/
/ckpt_mixup/
/Dataset_512/
/Dataset_2440/
/train/
/pbash/


/best-ckpt.tar.gz
/BF.tar.gz
/dd.py
/dataset_revi.py
/eval.py

/run-aug.py
/run-aug.py

/run1.py
/run2.py

/main-cut.py
/main-mix.py
/main.py
/eval.py

/run-aug.py